#root{background:#fff;height:100%;width:100%;}
body,html{height:100%;min-height:100%;}
div#root,wrapper {
    display: table;
    width:100%;
}

#root wrapper{
    min-height:100%;
}

div.whole-default {
    display: table-cell;
    vertical-align: middle;
    padding: 15px 25px ;
}

h1#logo_name {
    color: #000;
}

#intro_text p {
    text-align: center;
    font-size: 130%;
}

h1#logo_name {
    text-align: center;
    margin-bottom: 20px;
}

.card {
    border-radius: 20px;
}

div#intro_screen {
    background: rgba(255,255,255,.7);
    box-shadow: 0 10px 10px rgba(0,0,0,.4);
    border-radius:20px;
}

.btn{box-shadow: 0 4px 5px rgba(0,0,0,.4);}
.card{margin-bottom:15px;}
.card-img-top{    border-top-left-radius: 20px;
    border-top-right-radius: 20px;}

#user_menu{padding-bottom:15px;border-bottom:2px dashed #c0c0c0;margin-bottom:20px;text-align:right;background:;}
#user_menu .btn{margin-left:15px;}

[aria-current]{display:none;}

.actions{text-align:right;}